.headerContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.logo {
    max-width: 10em;
    max-height: 10em;
}
@media (min-width: 992px) {
    .headerContainer {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .headerContainer {
        width: 1170px;
    }
}
@media (min-width: 1350px) {
    .headerContainer {
        width: 1320px;
    }
}
@media (min-width: 1440px) {
    .headerContainer {
        width: 1410px;
    }
}
