.gridContainer {
    position: relative;
    min-height: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin:auto;
    .cardContainer {
        justify-content: center;
        width: 265px;
        height: 346px;
        border-radius: 4px;
        border: 1px solid #DBDBDB;
        margin-left: 15px;
        margin-bottom: 15px;
        &:hover {
            cursor: pointer;
        }

        .imageContainer {
            height: 53.75%;
            max-width: 50vw;
            .profileIcon {
                width: 100%;
                height: 100%;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
            }
            .overlay {
                left: 0;
                bottom: 0;
                padding: 0px 0px;
                width: 100%;
                color: #fff;
                text-align: left;
                background-color: rgba(0,0,0,.3);
                .priceValue {
                    font: 300 26px/36px Muli,sans-serif;
                    line-height: 1;
                    margin: -2em 0em;
                }
            }
        }


        .detailsContainer {
            display: flex;
            flex-wrap: wrap;
            padding: 5px 10px;
            box-sizing: border-box;
            .details {
                padding-bottom: 5px;
                padding: 5px;
                width: 45%;
                .values {
                    color: #515151;
                    font: 300 20px/30px Muli,sans-serif;
                    line-height: 1;
                }
                &:nth-child(2) {
                    border-left: 1px solid #DBDBDB;
                }
            }

            h6 {
                -webkit-font-smoothing: antialiased;
                font: 400 15px/10px Muli,sans-serif;
                color: #515151;
                margin-block-start: 16px;
                margin-block-end: 16px;
            }
        }
    }
}

.tableResponsive {
    overflow-x: auto;
    min-height: .01%;
    margin:auto;
    .table {
        margin-bottom: 0;
        width: 100%;
        color: #767676;
        background-color: #fff;
        border-top: 1px solid #DBDBDB;
    }
    thead {
        tr {
            height: 77px;
        }
    }
    .tableBody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
        border-bottom: 1px solid #DBDBDB;
        tr {
            height: 77px;
            text-align: center;
            border-top: 1px solid #DBDBDB;
            &:hover {
                cursor: pointer;
            }
            td {
                border-top: 1px solid #DBDBDB;
            }
        }
        .photo {
            position: relative;
        }
        .profileIcon {
            border-radius: 50%;
            background-color: #DBDBDB;
            width: 40px;
            height: 40px;
        }
    }

}


.address {
    width: 100%;
    color: #767676;
    border-top: 1px solid #DBDBDB;
    text-align: left;
    h6 {
        -webkit-font-smoothing: antialiased;
        font: 400 15px/10px Muli,sans-serif;
        color: #515151;
        margin-block-start: 16px;
        margin-block-end: 16px;
    }
}


.detailedViewContainer {

    margin:auto;

    .imageContainer {
        &::before{
            border-top: 1px solid #DBDBDB;
            content: '';
            display: block;
            margin-top: 10px;
            max-width: 50vw;
            max-height: 50vw;
        }
        display: flex;
        flex-direction: row;
        width: 675px;
        height: 445px;
        margin: 8px;
        max-width: 50vw;
        .slide {
            width: 100%;
            height: 100%;
            border-radius: 4px;
          }

        .leftArrow {
            width: 40px;
            height: 40px;
            text-align: center;
            background-color: rgba(0,0,0,.2);
            border-radius: 4px;
            z-index: 1;
            margin-top: 30%;
            margin-right: -50px;
            -webkit-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);
            cursor: pointer;
            &:hover {
                border:2px solid rgb(131, 130, 130);
            }
            &::before{
                content: "\3c";
                font: 300 40px/1 'Font Awesome 5 Pro';
                font-size: 30px;
                line-height: 1;
                opacity: 0.75;
                color: #fff;
            }

        }


        .rightArrow {
            width: 40px;
            height: 40px;
            text-align: center;
            background-color: rgba(0,0,0,.1);
            border-radius: 4px;
            z-index: 1;
            margin-top: 30%;
            margin-left: -50px;
            -webkit-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);
            cursor: pointer;
            &:hover {
                border:2px solid rgb(131, 130, 130);
            }
            &::before{
                content: "\3e";
                font: 300 40px/1 'Font Awesome 5 Pro';
                font-size: 30px;
                line-height: 1;
                opacity: 0.75;
                color: #fff;
            }
          }
    }
}


@media (min-width: 992px) {
    .gridContainer {
        width: 970px;
    }
    .tableResponsive {
        width: 970px;
    }
    .detailedViewContainer {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .gridContainer {
        width: 1170px;
    }
    .tableResponsive {
        width: 1170px;
    }
    .detailedViewContainer {
        width: 1170px;
    }
}
@media (min-width: 1350px) {
    .gridContainer {
        width: 1320px;
    }
    .tableResponsive {
        width: 1320px;
    }
    .detailedViewContainer {
        width: 1320px;
    }
}
@media (min-width: 1440px) {
    .gridContainer {
        width: 1410px;
    }
    .tableResponsive {
        width: 1410px;
    }
    .detailedViewContainer {
        width: 1410px;
    }
}
