.viewControlsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin:auto;
    .layoutOptions {
        align-self: flex-end;
        ul {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: center;
            list-style-type: none;
            a:focus {
                background-color: #7B72D6;
                width: inherit;
                height: inherit;
            }
        }
        li {

            padding: 5px;
            border: 1px solid #D3D3D3;
            &:hover {
                cursor: pointer;
            }

        }
    }
}
@media (min-width: 992px) {
    .viewControlsContainer {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .viewControlsContainer {
        width: 1170px;
    }
}
@media (min-width: 1350px) {
    .viewControlsContainer {
        width: 1320px;
    }
}
@media (min-width: 1440px) {
    .viewControlsContainer {
        width: 1410px;
    }
}
